<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href = "css/styles.css" rel = "stylesheet"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <title>Operative Report</title>
   </head>
   <body>
      <div class="App">
         <header class="App-header">
            <div>
               <h1 th:text="${emoji}"></h1>
               <span th:text="${adjective}"></span>-<span th:text="${person}"></span>
               <p th:text="${machineName}" style="font-size: 14;"></p>
           </div>
         </header>
      </div>
    </body>
</html>